<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://cdn.britannica.com/49/182849-050-4C7FE34F/scene-Iron-Man.jpg" 
        alt=""
        height="200px"
        >
    </div>

    <div class="big-card__title">
       <h1> <a href="#">Saiu a nova versão do angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
            oio oidio soisd osid kdkdkpksçakçlsma
            askaojpodjçlajdoja´jdoajoidjpoaja
        </a>
        </p>
    </div>

</div>